@import "tailwindcss";

:root {
  --primary-color: #c8d9e6;
  --secondary-color: #2f4156;
  --thirty-color: #f5efeb;
  --font-color: #2f4156;

  --font-manrope: "Manrope", sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-manrope);
  background: var(--primary-color);
  color: var(--font-color);
}

header {
  background: var(--primary-color);
}

article {
  max-width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 700;
}

section {
  padding: 4rem 2.5rem;
  padding-top: 0;
}

form {
  color: var(--font-color);
}

form > div > input {
  border: 1px solid #000;
  padding: 4px;
  border-radius: 5px;
}

label{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
